<% @articles.each do |article| %>
  <h1> <%= link_to article.title, article_path(article) %> </h1>
<% end %>
<%= link_to "Write", new_article_path %>
<%= link_to "Login", new_user_session_path%>
<%end%>
